body{
   height: 100%;
   width: 90%;
   font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
}
.cont{
   display: flex;
   justify-content: center;
   align-items: center;
   
}
.container{
     height: 500px;
    width: 300px;
   box-shadow: 8px 8px 8px;
    background-color: rgb(69, 69, 69);
    border-radius: 20px;
  
}
.row input{
    padding: 40px 25px;
    margin: 15px ;
    font-size: large;
    border-radius: 20px;
    box-shadow: -2px -2px 2px;
}
.button{
    margin: 10px 5px;
    padding: 17px;
    margin-left: 15px;
    border: 1px solid black;
    border-radius: 10px;
    width: 50px;
    cursor: pointer ;
    box-shadow: 1.5px 1.5px ;
}




































/* .cont{
  
}
.button{
    padding: 25px;
    margin: 0 3px;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 20%;
    font-size: 18px;
    font-weight: 500;
}
.flex{
   display: flex;
   justify-content: center;
   align-items: center;
}
.flex-col{
    flex-direction: column;
}
.item-center{
    align-items: center;
}
.row{
    margin: 8px 0;
}
.row input{
    margin: 0px;
    padding: 25px 40px;
    border-radius: 15px;
    border: 2px solid black;
    font-size: large;
} */
